<div id="view-inner">
    <nav>
        <panel id="view-header">
            <button name="back" title="<<" (click)="inactive();"></button>
            <title nav>longer supported and will be removed in next major release</title>
            <btn-group>
                <button name="color-sticker" title="CS"></button>
                <button name="edit" title="ED"></button>
                <button name="hold-screen" title="HS"></button>
                <button name="label" title="LB"></button>
                <button name="publish" title="PU"></button>
                <button name="share" title="SH"></button>
                <button name="download" title="DN"></button>
                <button name="delete" title="DL"></button>
                <button name="more" title="더" (click)="allHeaderMenu.toggleActivation();"></button>
            </btn-group>
        </panel>
    </nav>
    <div id="view-content">
        <baseline></baseline>
    </div>
</div>
<div id="recipe-item-add-icon">
    <button name="add-recipe-item" title="+" (click)="allTemplate.toggleActivation();"></button>
</div>
<popup-menu id="all-header-menu">
    <panel>
        <button name="color-sticker" title="color sticker"></button>
        <button name="edit" title="edit"></button>
        <button name="hold-screen" title="hold-screen"></button>
        <button name="label" title="label"></button>
        <button name="publish" title="publish"></button>
        <button name="share" title="share"></button>
        <button name="download" title="download"></button>
        <button name="remove" title="remove" (click)="remove();"></button>
    </panel>
</popup-menu>
<popup-menu flip-up id="all-template" >
    <panel>
        <button name="basic-info" title="basic info"></button>
        <button name="foodstuffs" title="foodstuffs"></button>
        <button name="cooking-step" title="cooking step"></button>
        <button name="picture" title="picture"></button>
        <button name="header" title="header" (click)="createViewComponent('header');"></button>
        <button name="paragraph" title="paragraph"></button>
    </panel>
</popup-menu>
