@import '../common'

view
    position: relative
    display: flex
    flex-direction: column
    flex: 1 1 auto
    width: 100%
    min-width: $min_container_width
    height: auto
    box-sizing: border-box
    background-color: #EDE5E2
    #view-inner
        position: relative
        display: flex
        flex-direction: column
        flex: 1 1 auto
        width: 100%
        height: auto
        nav
            position: relative
            z-index: 10
            background-color: #fff
            flex: 0 0 auto
            width: 100%
            height: 100%
            panel
                line-height: $navbar_height
                button
                    width: 40px
                    height: $navbar_height
            panel#view-header btn-group
                width: 200px
                    
        #view-content
            position: relative
            flex: 1 1 auto
            width: 100%
            height: 100%
        #view-toolbox
            position: relative
            flex: 0 0 auto
            width: 100%
            height: 50px
            background-color: #999
    .box
        display: inline-block
        margin: 10px


// media query for view nav-buttons
@media screen and (max-width: $width_level1)
    view nav panel#view-header btn-group
        width: 80px !important
@media screen and (min-width: $width_level1) and (max-width: $width_level2)
    view nav panel#view-header btn-group
        width: 200px !important
@media screen and (min-width: $width_level2) and (max-width: $width_level3)
    view nav panel#view-header btn-group
        width: 120px !important
@media screen and (min-width: $width_level3) and (max-width: $width_level4)
    view nav panel#view-header btn-group
        width: 160px !important
@media screen and (min-width: $width_level4) and (max-width: $width_level5)
    view nav panel#view-header btn-group
        width: 120px !important
@media screen and (min-width: $width_level5)
    view nav panel#view-header btn-group
        width: 200px !important

// <= tablet 
@media screen and (max-width: $min_container_width * 2)
    view[active=true]
        transform: translateX(-100%)
    view
        position: fixed
        top: 0
        height: 100%
        transform: translateX(0)
        transition: all 300ms ease
