# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build
# jetBrains
.idea
platforms
.sass-cache
node_modules
www/modules
app/*.js
app/*.js.map
bower_components
typings
