#navigation {
  position: relative;
  background-color: #777;
  flex: 0 0 auto;
  width: 100%;
  height: 50px; }
  #navigation .box {
    display: inline-block;
    margin: 10px; }
  #navigation .view-open {
    float: right; }

@media screen and (min-width: 720px) {
  #navigation .view-open {
    display: none; } }

@media screen and (min-width: 950px) {
  #navigation .sidebar-open {
    display: none; } }
