#sidebar {
  position: relative;
  flex: 0 0 auto;
  z-index: 100;
  width: 230px;
  height: 100%;
  background-color: #999;
  bottom: 0;
  box-sizing: border-box; }
  #sidebar .sidebar-close {
    display: inline-block; }

@media screen and (max-width: 950px) {
  #sidebar {
    position: fixed;
    transform: translateX(-230px);
    transition: all 300ms ease; }
  #sidebar[active=on] {
    transform: translateX(0); } }

@media screen and (min-width: 950px) {
  #sidebar .sidebar-close {
    display: none; } }
