<sidebar [attr.active]="sidebarActive" (sidebarClose)="hideSidebar();"></sidebar>
<container [attr.active]="sidebarActive">
    <nav>
        <panel id="main-header">
            <button nav name="menu" title="M" (click)="showSidebar();"></button>
            <title nav><!-- here main title--></title>
            <btn-group>
                <button nav name="sync" title="Y"></button>
                <button nav name="search" title="S"></button>
                <button nav name="cart" title="C"></button>
            </btn-group>
        </panel>
    </nav>
    <content>
        <panel id="main">
            <list>
                <div id="list-inner">
                    <item
                    *ngFor="#recipe of recipes"
                    [recipeData]="recipe"
                    (click)="view.active();">
                    </item>
                </div>
            </list>
            <view>
                <div id="view-inner">
                    <nav>
                        <panel id="view-header">
                            <button nav name="back" title="<<" (click)="view.inactive();"></button>
                            <title nav>longer supported and will be removed in next major release</title>
                            <btn-group>
                                <button nav name="color-sticker" title="CS"></button>
                                <button nav name="edit" title="ED"></button>
                                <button nav name="hold-screen" title="HS"></button>
                                <button nav name="label" title="LB"></button>
                            <button nav name="publish" title="PU"></button>
                                <button nav name="share" title="SH"></button>
                                <button nav name="download" title="DN"></button>
                                <button nav name="delete" title="DL"></button>
                                <button nav name="more" title="더" (click)="allHeaderMenu.toggleActivation();"></button>
                            </btn-group>
                        </panel>
                    </nav>
                    <div id="view-content">
                        <view-header *ng-for="#viewItem of view.items"></view-header>
                    </div>
                </div>
                <div id="recipe-item-add-icon">
                    <button name="add-recipe-item" title="+" (click)="allTemplate.toggleActivation();"></button>
                </div>
                <popup-menu id="all-header-menu">
                    <panel>
                        <button popup-menu name="color-sticker" title="color sticker"></button>
                        <button popup-menu name="edit" title="edit"></button>
                        <button popup-menu name="hold-screen" title="hold-screen"></button>
                        <button popup-menu name="label" title="label"></button>
                        <button popup-menu name="publish" title="publish"></button>
                        <button popup-menu name="share" title="share"></button>
                        <button popup-menu name="download" title="download"></button>
                        <button popup-menu name="delete" title="delete"></button>
                    </panel>
                </popup-menu>
                <popup-menu flip-up id="all-template" >
                    <panel>
                        <button popup-menu name="basic-info" title="basic info"></button>
                        <button popup-menu name="foodstuffs" title="foodstuffs"></button>
                        <button popup-menu name="cooking-step" title="cooking step"></button>
                        <button popup-menu name="picture" title="picture"></button>
                        <button popup-menu name="header" title="header" (click)="view.addViewItem('header')"></button>
                        <button popup-menu name="paragraph" title="paragraph"></button>
                    </panel>
                </popup-menu>
            </view>
        </panel>
        <panel id="cart">

        </panel>
    </content>
    <div class="sidebar-close-area" [attr.active]="[sidebarActive]" (click)="hideSidebar();"></div>
</container>
