<container>
    <recipe-list>
        <nav>
            <panel id="main-header">
                <button nav name="setting" title="S"></button>
                <div id="main-titlebox" (click)="toggleLabelList()">
                    <div animate id="_main-title">{{labelNameByID(_labelService.currentLabelID)}}</div>
                    <div class="down-arrow">∨</div>
                </div>
                <button nav name="sync" title="Y" (click)="openWindow('label');"></button>
            </panel>
        </nav>
        <list>
            <div id="list-inner" [attr.active]="_labelListActivation">
                <item
                *ngFor="#recipeData of _filterRecipeByLabelID()"
                [recipeData]="recipeData"
                (click)="openView(recipeData.id)">
                </item>
            </div>
            <div id="label-list" [attr.active]="_labelListActivation">
                <ul>
                    <li class="label" (click)="selectLabel('all')" [attr.selected]="_labelService.currentLabelID == 'all' ? true : false">all labels</li>
                    <li class="label" (click)="selectLabel(labelData.id)"  [attr.selected]="_labelService.currentLabelID == labelData.id ? true : false" *ngFor="#labelData of (_labelService.labels.toArray() | exceptRemoved)">{{labelData.name}}</li>
                </ul>
            </div>
            <div id="recipe-add-icon">
                <button name="add-item" title="+" (click)="addRecipe();"></button>
            </div>
            <div id="list-bottom">
                <button nav name="market" title="M" (click)="openWindow('label');"></button>
                <button nav name="wastebasket" title="W" (click)="openWindow('label');"></button>
                <button nav name="cart" title="C" (click)="openWindow('label');"></button>
                <button nav name="search" title="S" (click)="openWindow('label');"></button>
            </div>
        </list>
    </recipe-list>
    <content id="_content" class="view-object">
        <panel id="main">
            <view (eClose)="closeContentBox($event)"></view>
        </panel>
    </content>
</container>
<input type="hidden" #popupWindowHead />
