@import 'common'

sidebar
    position: fixed
    z-index: 20
    flex: 0 0 auto
    bottom: 0
    box-sizing: border-box
    width: 65%
    min-width: $min_sidebar_width
    height: 100%
    background-color: #323943

container
    position: relative
    z-index: 30
    display: flex
    flex-direction: column
    flex: 1 1 auto
    width: 100%
    min-width: $min_container_width
    height: 100%
    background-color: #777
    box-sizing: border-box
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05)
    .sidebar-close-area
        display: none
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: .7
        background-color: #9BF0E9
    nav
        position: relative
        background-color: #777
        flex: 0 0 auto
        width: 100%
        height: $navbar_height
        panel
            line-height: $navbar_height
            button
                width: $nav_button_width

content
    position: relative
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    flex: 1 1 auto
    box-sizing: border-box
    width: 100%
    height: 100%
    background-color: #111
    panel[id=cart]
        display: none
    panel[id=main]
        list
            position: relative
            display: flex
            flex-direction: column
            flex: 0 0 auto
            width: 50%
            min-width: $min_container_width
            max-width: $max_container_width
            height: auto
            box-sizing: border-box
            background-color: #EDE5E2

nav button[name=more]
    position: absolute
    right: 0


view
    popup-menu#all-header-menu
        top: $navbar_height
        right: 0
        width: 180px
    popup-menu#all-template
        bottom: 0
        right: 0
        width: 180px
        panel
            padding-bottom: 70px
    #recipe-item-add-icon
        position: absolute
        z-index: 100
        bottom: 15px
        right: 15px
        width: 45px
        height: 45px
        border-radius: 50%
        overflow: hidden
        background-color: #777
        button
            font-size: 15px
            line-height: 48px

// above mobile
@media screen and (max-width: $min_container_width * 2)
    content
        panel[id=main]
            list
                width: 100%

// under mobile
@media screen and (min-width: $min_container_width * 2)
    nav
        .view-open
            display: none

// for PC
@media screen and (min-width: $sidebar_width + ($min_container_width * 2))
    sidebar
        position: relative
        width: $sidebar_width
    nav
        panel
            [name=menu]
                display: none

// for mobile and tablet
@media screen and (max-width: $sidebar_width + ($min_container_width * 2))
    // sidebar
    //     transform: translateX($sidebar_width * -1)
    // sidebar[active=true]
    //     transform: translateX(0)
    container
        .sidebar-close-area[active=true]
            display: block
    container[active=true]
        transform: translate3d(60%, 0, 0) scale3d(0.85, 0.85, 1)
