@import '../common'

popup-menu
    position: absolute
    z-index: 50
    width: auto
    min-width: 80px
    min-height: 25px
    height: auto
    perspective: 1300px
    panel
        display: block
        background-color: #fff
        button
            display: block
            width: 100%
            text-align: left
            
popup-menu
    panel
        opacity: 0
        transition: $transition_default
        transform-style: preserve-3d
        transform: rotateX(35deg)
        transform-origin: 50% 0

popup-menu[flip-up]
    panel
        opacity: 0
        transition: $transition_default
        transform-style: preserve-3d
        transform: rotateX(-35deg)
        transform-origin: 50% 100%

popup-menu[active=true]
    panel
        opacity: 1
        transform: rotateX(0deg)
