:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-width: 320px;
  height: auto;
  box-sizing: border-box;
  background-color: #EDE5E2; }
  :host #view-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: auto; }
    :host #view-inner nav {
      position: relative;
      z-index: 10;
      background-color: #fff;
      flex: 0 0 auto;
      width: 100%;
      height: 100%; }
      :host #view-inner nav panel#view-header btn-group {
        width: 180px; }
    :host #view-inner #view-content {
      position: relative;
      flex: 1 1 auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      height: 100%; }
    :host #view-inner toolbox {
      position: relative;
      flex: 0 0 auto;
      width: 100%;
      height: 45px;
      background-color: #999; }
  :host popup-menu#all-header-menu {
    top: 45px;
    right: 0;
    width: 180px; }
  :host popup-menu#all-template {
    bottom: 0;
    right: 0;
    width: 180px; }
    :host popup-menu#all-template panel {
      padding-bottom: 70px; }
  :host #recipe-item-add-icon {
    position: absolute;
    z-index: 100;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #777; }
    :host #recipe-item-add-icon button {
      font-size: 15px;
      line-height: 48px; }

@media screen and (max-width: 470px) {
  nav panel#view-header btn-group {
    width: 90px !important; } }

@media screen and (min-width: 470px) and (max-width: 640px) {
  nav panel#view-header btn-group {
    width: 225px !important; } }

@media screen and (min-width: 640px) and (max-width: 740px) {
  nav panel#view-header btn-group {
    width: 135px !important; } }

@media screen and (min-width: 740px) and (max-width: 890px) {
  nav panel#view-header btn-group {
    width: 180px !important; } }

@media screen and (min-width: 890px) and (max-width: 1140px) {
  nav panel#view-header btn-group {
    width: 135px !important; } }

@media screen and (min-width: 1140px) {
  nav panel#view-header btn-group {
    width: 225px !important; } }

@media screen and (max-width: 640px) {
  :host[active=true] {
    transform: translateX(-100%); }
  :host {
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateX(0);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); } }
