view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-width: 320px;
  height: auto;
  box-sizing: border-box;
  background-color: #EDE5E2; }
  view #view-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: auto; }
    view #view-inner nav {
      position: relative;
      z-index: 10;
      background-color: #fff;
      flex: 0 0 auto;
      width: 100%;
      height: 100%; }
      view #view-inner nav panel {
        line-height: 40px; }
        view #view-inner nav panel button {
          width: 40px;
          height: 40px; }
      view #view-inner nav panel#view-header btn-group {
        width: 200px; }
    view #view-inner #view-content {
      position: relative;
      flex: 1 1 auto;
      width: 100%;
      height: 100%; }
    view #view-inner #view-toolbox {
      position: relative;
      flex: 0 0 auto;
      width: 100%;
      height: 50px;
      background-color: #999; }
  view .box {
    display: inline-block;
    margin: 10px; }

@media screen and (max-width: 470px) {
  view nav panel#view-header btn-group {
    width: 80px !important; } }

@media screen and (min-width: 470px) and (max-width: 640px) {
  view nav panel#view-header btn-group {
    width: 200px !important; } }

@media screen and (min-width: 640px) and (max-width: 740px) {
  view nav panel#view-header btn-group {
    width: 120px !important; } }

@media screen and (min-width: 740px) and (max-width: 890px) {
  view nav panel#view-header btn-group {
    width: 160px !important; } }

@media screen and (min-width: 890px) and (max-width: 1140px) {
  view nav panel#view-header btn-group {
    width: 120px !important; } }

@media screen and (min-width: 1140px) {
  view nav panel#view-header btn-group {
    width: 200px !important; } }

@media screen and (max-width: 640px) {
  view[active=true] {
    transform: translateX(-100%); }
  view {
    position: fixed;
    top: 0;
    height: 100%;
    transform: translateX(0);
    transition: all 300ms ease; } }
