<div class="bg" [attr.active]="_bgActivation" (click)="close();"></div>
<div class="box" [attr.active]="_boxActivation" [attr.mode]="_mode">
    <div class="inner-wrapper">
        <nav>
            <panel id="popup-labels-view">
                <button name="back" title="←" (click)="close();"></button>
                <title nav>Lables</title>
                <button name="add" title="A" (click)="add();"></button>
            </panel>
        </nav>
        <!-- <nav>
            <multi-panel>
                <panel-mask>
                    <panel-group>
                        <panel id="popup-labels-view">
                            <button name="back" title="←" (click)="close();"></button>
                            <title nav>Lables</title>
                            <button name="edit" title="E" (click)="enterEditMode();"></button>
                        </panel>
                        <panel id="popup-labels-edit">
                            <button name="back" title="↑" (click)="exitEditMode();"></button>
                            <title nav>Edit</title>
                            <button name="add" title="A" (click)="add();"></button>
                        </panel>
                    </panel-group>
                </panel-mask>
            </multi-panel>
        </nav> -->
        <section class="content">
            <ul>
                <li class="label" *ngFor="#labelData of (_labelService.labels.toArray() | exceptRemoved); #index=index" [attr.editing]="_editingStates[index]">
                    <span class="chkwrap"><input name="chk-label" type="checkbox" [ngModel]="labelData.inRecipes(_currentRecipeID)" (change)="_onChangeCheckbox($event, labelData)"/></span>
                    <span class="title"><input type="text" [(ngModel)]="labelData.name" (focus)="_onFocusName(index)" (focusout)="_onFocusOutName(index, labelData)"></span>
                    <button name="remove" title="X" (click)="removeLabel(labelData.id); _focusNext();"></button>
                </li>
            </ul>
        </section>
        <section class="bottom"></section>
    </div>
</div>
