<h1 class="logo">SIDE BAR</h1>
<div class="wrapper">
    <section class="labels">
        <button sidebar class="sidebar-item" title="ALL-ALL-ALL"></button>
        <button sidebar class="sidebar-item" title="label one"></button>
        <button sidebar class="sidebar-item" title="label two"></button>
        <button sidebar class="sidebar-item" title="label three"></button>
    </section>
    <section class="tools">
        <button sidebar class="sidebar-item" title="Market"></button>
        <button sidebar class="sidebar-item" title="Waste basket"></button>
        <button sidebar class="sidebar-item" title="Sync data"></button>
        <button sidebar class="sidebar-item" title="Logout"></button>
    </section>
</div>
