@import '../common'

.panel
    @include prefix(display, flex)
    height: 100%
    > *
        display: inline-block
        box-sizing: border-box
        height: 100%
[name=back]
    width: 60px
btn-group
    @include prefix(display, flex !important)
    [name=sync]
        width: 60px
    [name=search]
        width: 60px
    [name=cart]
        width: 60px
