@import '../common'

.panel
    @include prefix(display, flex)
    height: 100%
.nav-item
    display: inline-block
    box-sizing: border-box
    height: 100%
.title
    width: 100%
    line-height: $navbar_height
    background-color: #D1D0D1
    padding: 0 15px
.menu
    width: 60px
.btn-group
    @include prefix(display, flex)
    .sync
        width: 60px
    .search
        width: 60px
    .cart
        width: 60px
    .view-open
        float: right
        
// under mobile and tablet
@media screen and (min-width: $sidebar_width + ($min_container_width * 2))
    .menu
        display: none
