<h1 class="logo">SIDE BAR</h1>
<div class="wrapper">
    <section class="labels">
        <sidebar-button class="sidebar-item" title="ALL-ALL-ALL"></sidebar-button>
        <sidebar-button class="sidebar-item" title="label one"></sidebar-button>
        <sidebar-button class="sidebar-item" title="label two"></sidebar-button>
        <sidebar-button class="sidebar-item" title="label three"></sidebar-button>
    </section>
    <section class="tools">
        <sidebar-button class="sidebar-item" title="Market"></sidebar-button>
        <sidebar-button class="sidebar-item" title="Waste basket"></sidebar-button>
        <sidebar-button class="sidebar-item" title="Sync data"></sidebar-button>
        <sidebar-button class="sidebar-item" title="Logout"></sidebar-button>
    </section>
</div>
