@import '../common'

:host
    border: 0
    position: relative
    display: inline-block
    box-sizing: border-box
    width: inherit
    min-width: 40px
    // background: transparent
    background: #43B6B9
    text-align: center
    font: inherit
    outline-width: 0
    @include prefix(user-select, none)
    cursor: pointer
    z-index: 0
    line-height: 40px
    font-size: inherit
    padding: 0 10px
