* {
  -webkit-tap-highlight-color: transparent; 
}
html {
  height: 100%; 
}
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
app {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
