@import '../common'

title
    display: inline-block
    width: 100%
    height: $navbar_height
    line-height: 26px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    background-color: #fff
    padding: 10px
    box-sizing: border-box

title[expend=true]
    height: 100%
    white-space: normal

button
    width: $nav_button_width
    line-height: $navbar_height
    height: $navbar_height

button[name=more]
    position: absolute
    right: 0

btn-group
    @include prefix(display, flex !important)
    height: $navbar_height
