sidebar {
  position: fixed;
  z-index: 20;
  flex: 0 0 auto;
  bottom: 0;
  box-sizing: border-box;
  width: 65%;
  min-width: 250px;
  height: 100%;
  background-color: #323943; }

container {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: #777;
  box-sizing: border-box;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05); }
  container .sidebar-close-area {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #9BF0E9; }
  container nav {
    position: relative;
    background-color: #777;
    flex: 0 0 auto;
    width: 100%;
    height: 45px; }
    container nav panel {
      line-height: 45px; }
      container nav panel button {
        width: 45px; }

content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #111; }
  content panel[id=cart] {
    display: none; }
  content panel[id=main] list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    min-width: 320px;
    max-width: 640px;
    height: auto;
    box-sizing: border-box;
    background-color: #EDE5E2; }
    content panel[id=main] list #recipe-add-icon {
      position: absolute;
      z-index: 0;
      bottom: 15px;
      right: 15px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #777; }
      content panel[id=main] list #recipe-add-icon button {
        font-size: 15px;
        line-height: 48px; }

@media screen and (max-width: 640px) {
  content panel[id=main] list {
    width: 100%; } }

@media screen and (min-width: 640px) {
  nav .view-open {
    display: none; } }

@media screen and (min-width: 920px) {
  sidebar {
    position: relative;
    width: 280px; }
  nav panel [name=menu] {
    display: none; } }

@media screen and (max-width: 920px) {
  container .sidebar-close-area[active=true] {
    display: block; }
  container[active=true] {
    transform: translate3d(60%, 0, 0) scale3d(0.85, 0.85, 1); } }
