sidebar {
  position: relative;
  flex: 0 0 auto;
  z-index: 100;
  width: 230px;
  height: 100%;
  background-color: #999;
  bottom: 0;
  box-sizing: border-box; }

container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-width: 360px;
  height: 100%;
  background-color: #777;
  box-sizing: border-box;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05); }
  container .sidebar-close {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-color: red; }

navigation {
  position: relative;
  background-color: #777;
  flex: 0 0 auto;
  width: 100%;
  height: 50px; }

content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #111; }
  content list {
    position: relative;
    display: flex;
    padding: 7px;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    min-width: 360px;
    max-width: 720px;
    height: auto;
    box-sizing: border-box;
    background-color: #333; }
  content view {
    position: relative;
    display: flex;
    padding: 7px;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    min-width: 360px;
    height: auto;
    box-sizing: border-box;
    background-color: #444; }

.test {
  transform: translate3d(60%, 0, 0) scale3d(0.85, 0.85, 1); }

@media screen and (max-width: 720px) {
  content view[active=on] {
    transform: translateX(-100%); }
  content view {
    position: fixed;
    padding: 0;
    top: 0;
    height: 100%;
    transform: translateX(0);
    transition: all 300ms ease; }
  content list {
    padding: 0;
    width: 100%; } }

@media screen and (min-width: 720px) {
  navigation .view-open {
    display: none; }
  content view .nav-back {
    display: none; } }

@media screen and (min-width: 950px) {
  sidebar .sidebar-close {
    display: none; }
  navigation .sidebar-open {
    display: none; } }

@media screen and (max-width: 950px) {
  sidebar {
    position: fixed;
    transform: translateX(-230px); }
  sidebar[active=on] {
    transform: translateX(0); } }
