container {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05); }
  container nav {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    height: 45px; }
    container nav panel {
      line-height: 45px; }
      container nav panel button {
        width: 45px; }
    container nav #main-header {
      flex: 0 0 auto; }
      container nav #main-header #main-titlebox {
        width: 100%;
        text-align: center;
        cursor: pointer; }
        container nav #main-header #main-titlebox #main-title {
          width: 100%;
          height: 32px;
          line-height: 42px; }
        container nav #main-header #main-titlebox .down-arrow {
          width: 100%;
          height: 13px;
          line-height: 5px; }

#label-list {
  position: absolute;
  overflow-y: auto;
  top: 0;
  width: 100%;
  height: 200px;
  background: #fff;
  transition: all 0.4s;
  border-bottom: 1px solid #e5e5e5;
  color: #888; }
  #label-list ul {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0 24px;
    margin: 3px;
    text-align: center;
    line-height: 30px; }
    #label-list ul li {
      position: relative; }

content {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff; }
  content panel[id=cart] {
    display: none; }
  content panel[id=main] list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 50%;
    min-width: 320px;
    max-width: 640px;
    height: auto;
    box-sizing: border-box;
    background-color: #fff; }
    content panel[id=main] list #list-inner {
      z-index: 1;
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.335, 1.05); }
    content panel[id=main] list #list-inner[active=true] {
      transform: translateY(201px); }
    content panel[id=main] list #list-bottom {
      z-index: 2;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex: 0 0 auto;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 45px;
      background-color: #fff; }
    content panel[id=main] list #recipe-add-icon {
      z-index: 3;
      position: absolute;
      z-index: 0;
      right: 15px;
      width: 45px;
      height: 45px;
      bottom: 55px;
      left: 50%;
      margin-left: -22px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #fff; }
      content panel[id=main] list #recipe-add-icon button {
        font-size: 15px;
        line-height: 48px; }

@media screen and (max-width: 640px) {
  content panel[id=main] list {
    width: 100%; } }
