<sidebar [attr.active]="sidebarActive" (sidebarClose)="hideSidebar();"></sidebar>
<container [attr.active]="sidebarActive">
    <nav>
        <panel>
            <button nav name="menu" title="M" (click)="showSidebar();"></button>
            <title><!-- here main title--></title>
            <btn-group>
                <button nav name="sync" title="Y"></button>
                <button nav name="search" title="S"></button>
                <button nav name="cart" title="C"></button>
            </btn-group>
        </panel>
    </nav>
    <content>
        <list></list>
        <view></view>
    </content>
    <div class="sidebar-close-area" [attr.active]="[sidebarActive]" (click)="hideSidebar();"></div>
</container>
