:host {
  align-items: flex-start;
  top: 10%; }
  :host .box nav {
    height: 45px; }
  :host .box section.content button {
    background-color: transparent !important; }
  :host .box section.content ul {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0 24px; }
    :host .box section.content ul li {
      position: relative;
      display: flex;
      flex-wrap: nowrap;
      flex-flow: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      min-height: 45px;
      padding: 0; }
      :host .box section.content ul li .title {
        width: 100%; }
        :host .box section.content ul li .title input[type=text] {
          border: none;
          background-color: transparent; }
      :host .box section.content ul li .chkwrap {
        display: none;
        width: 45px;
        min-width: 45px;
        height: 45px;
        line-height: 50px;
        text-align: center; }
      :host .box section.content ul li button[name=remove] {
        line-height: 45px;
        width: 45px;
        opacity: 0;
        transform: scale(0);
        transition: all 300ms; }
    :host .box section.content ul li[editing=true] button[name=remove] {
      opacity: 1;
      transform: scale(1); }
  :host .box[mode=select] section.content ul li .chkwrap {
    display: inline-block; }
