:host {
  align-items: flex-start;
  top: 10%; }
  :host .box nav {
    height: 45px; }
  :host .box section.content ul {
    box-sizing: border-box;
    list-style-type: none;
    padding: 0 24px;
    transition: all 0.4s; }
    :host .box section.content ul li {
      display: flex;
      flex-wrap: nowrap;
      flex-flow: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      min-height: 48px;
      padding: 0; }
      :host .box section.content ul li .title {
        width: 100%; }
      :host .box section.content ul li button[remove] {
        line-height: 48px;
        width: 48px; }
