:host {
  border: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: inherit;
  min-width: 40px;
  background: #43B6B9;
  text-align: center;
  font: inherit;
  outline-width: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  z-index: 0;
  line-height: 40px;
  font-size: inherit;
  padding: 0 10px; }
