button {
  border: 0;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: inherit;
  min-width: 60px;
  background: #43B6B9;
  text-align: center;
  font: inherit;
  outline-width: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  cursor: pointer;
  z-index: 0;
  line-height: 40px;
  font-size: inherit;
  padding: 0 15px; }

effect {
  display: block;
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #fff;
  transition: all 150ms;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms; }

effect.bg-gray {
  background-color: #999; }

effect[animating=true] {
  opacity: 0.3 !important; }
