.panel {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  height: 100%; }
  .panel > * {
    display: inline-block;
    box-sizing: border-box;
    height: 100%; }

h2 {
  width: 100%;
  line-height: 50px;
  background-color: #EA3556;
  padding: 0 15px; }

[name=back] {
  width: 60px; }

right-panel {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; }
  right-panel .sync {
    width: 60px; }
  right-panel .search {
    width: 60px; }
  right-panel .cart {
    width: 60px; }
  right-panel .view-open {
    float: right; }
