.panel {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  height: 100%; }

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  height: 100%; }

.title {
  width: 100%;
  line-height: 50px;
  background-color: #D1D0D1;
  padding: 0 15px; }

.menu {
  width: 60px; }

.btn-group {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex; }
  .btn-group .sync {
    width: 60px; }
  .btn-group .search {
    width: 60px; }
  .btn-group .cart {
    width: 60px; }
  .btn-group .view-open {
    float: right; }

@media screen and (min-width: 950px) {
  .menu {
    display: none; } }
