panel {
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  height: 100%; }
  panel > * {
    display: inline-block;
    box-sizing: border-box;
    height: 100%; }

[name=back] {
  width: 60px; }

btn-group {
  display: flex !important;
  -webkit-display: flex !important;
  -moz-display: flex !important;
  -ms-display: flex !important;
  -o-display: flex !important; }
  btn-group [name=sync] {
    width: 60px; }
  btn-group [name=search] {
    width: 60px; }
  btn-group [name=cart] {
    width: 60px; }
