popup-menu {
  z-index: 50;
  visibility: hidden;
  position: absolute;
  width: auto;
  min-width: 80px;
  min-height: 25px;
  height: auto;
  perspective: 1300px; }
  popup-menu panel {
    display: block;
    background-color: #fff;
    opacity: 0;
    transition: all 0.4s;
    transform-style: preserve-3d;
    transform: rotateX(35deg);
    transform-origin: 50% 0; }
    popup-menu panel button {
      display: block;
      width: 100%;
      text-align: left; }

popup-menu[flip-up] panel {
  opacity: 0;
  transition: all 0.4s;
  transform-style: preserve-3d;
  transform: rotateX(-35deg);
  transform-origin: 50% 100%; }

popup-menu[active=true] panel {
  opacity: 1;
  transform: rotateX(0deg); }
